
body {
	width: 100%;
	background: #F6FB62;
    font-family: Times New Roman;
	font-size: 12px;
	margin-top: 40px;
	position: absolute;
}

blockquote {
	margin: auto;
	position: absolute;
	border: 1px solid #ccc;
	background: #eee;
	padding: 5px;
	
}

.contenido {
	border: 0px solid #ccc;
	background: #F6FB62;
	padding: 0 30px 20px;
	font-family: Times New Roman;
	font-size: 12px;
	width: 80%;
	width: 1150px;
	margin-left: 8%;
	margin-right: 8%;
}

table {
    border-collapse: collapse;
    width: 80%;
}

th {
    height: 40px;
}

td {
    height: 25px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li a {
	float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
}
