
body {
	width: 100%;
	background: #eee;
    font-family: Arial;
	font-size: 12px;
	margin-top: 40px;
	position: absolute;
}

blockquote {
	margin: auto;
	position: absolute;
	border: 1px solid #ccc;
	background: #eee;
	padding: 5px;
	
}

.contenido {
	border: 1px solid #ccc;
	background: #fff;
	padding: 0 30px 20px;
<<<<<<< HEAD
	width: 80%;
	
=======
	width: 1150px;
	margin-left: 8%;
	margin-right: 8%;
>>>>>>> 3ec6be6039317cebd3d15cd9a4d3a4943d2b8ff9
}

table {
    border-collapse: collapse;
    width: 70%;
}

th {
    height: 40px;
}

td {
    height: 25px;
}

