
body {
	margin-left: 2%;
	margin-right: 2%;
	background: #eee;
    font-family: Arial;
	font-size: 12px;
	margin-top: 40px;
}

blockquote {
	border: 1px solid #ccc;
	background: #eee;
	padding: 5px;
	margin: 0;
}

.contenido {
	border: 1px solid #ccc;
	background: #F6FB62;
	padding: 0 30px 20px;
	width: 1100px;
	margin-left: 8%;
	margin-right: 8%;


	}